<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 50px;">
        <div>
            <div>Name : <%= employee.name %></div>
            <div>Email : <%= employee.email %></div>
            <div style="text-align: right;">
                <a href="/employees">Back to Dashboard</a>
            </div>
            
        </div>
    </div>
</body>
</html>